.container {
  position: relative;
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(200, 88%, 6%);

  h1 {
    font-size: 36px;
    margin-bottom: 1em;
  }
}
